LINKWARDEN_NEXTAUTH_URL=https://links.example.com
LINKWARDEN_NEXTAUTH_SECRET=change-this-to-a-long-random-secret
LINKWARDEN_DISABLE_REGISTRATION=true

LINKWARDEN_POSTGRES_DB=linkwarden
LINKWARDEN_POSTGRES_USER=linkwarden
LINKWARDEN_POSTGRES_PASSWORD=change-this-db-password

LINKWARDEN_MEILI_MASTER_KEY=change-this-meili-master-key

LINKWARDEN_APP_PORT=38100