# OneUptime Host
HOST=oneuptime.example.com
HTTP_PROTOCOL=https
ONEUPTIME_HTTP_PORT=3210

# Secrets
ONEUPTIME_SECRET=change-this-to-random-value
ENCRYPTION_SECRET=change-this-to-random-value
REGISTER_PROBE_KEY=change-this-to-random-value
GLOBAL_PROBE_KEY=change-this-to-random-value

# Postgres
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=change-this-to-random-value
DATABASE_NAME=oneuptimedb

# ClickHouse
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=change-this-to-random-value
CLICKHOUSE_DATABASE=oneuptime

# Redis
REDIS_PASSWORD=change-this-to-random-value

# Ports
APP_PORT=3002
TELEMETRY_PORT=3403
WORKER_PORT=1445

# General
TZ=UTC