ENCRYPTION_KEY=Must be: a random 16-byte hex string (32 hex characters). openssl rand -hex 16
AUTH_SECRET=A 32 byte base64 string is 44 characters long. openssl rand -base64 32
SITE_URL=https://infisical.vitaliisili.com
POSTGRES_USER=infisical
POSTGRES_PASSWORD=Choose a secure, random password (e.g., 32–64 characters with letters + numbers + symbols).
POSTGRES_DB=infisical
SMTP_HOST=smtp-host
SMTP_PORT=smtp-port
SMTP_USERNAME=smtp-username
SMTP_PASSWORD=smtp-password
SMTP_FROM_ADDRESS=smtp-from-address
SMTP_FROM_NAME=Infisical